@model BazaDanych.Data.CMS.Uzytkownicy.Uzytkownik

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Uzytkownik</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nazwisko)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nazwisko)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonKontaktowy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefonKontaktowy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZamieszkanieAdres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZamieszkanieAdres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZamieszkanieMiasto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZamieszkanieMiasto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZamieszkanieKodPoczotwy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZamieszkanieKodPoczotwy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KorespondencyjnyAdres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KorespondencyjnyAdres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KorespondencyjnyMiasto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KorespondencyjnyMiasto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KoresponedncyjnyKodPocztowy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KoresponedncyjnyKodPocztowy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirmaNazwa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirmaNazwa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirmaNip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirmaNip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirmaAdres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirmaAdres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirmaMiasto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirmaMiasto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirmaKodPocztowy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirmaKodPocztowy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SlTypUzytkownika)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SlTypUzytkownika.NazwaUprawnienia)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
