@model IEnumerable<BazaDanych.Data.CMS.Uzytkownicy.SlTypUzytkownika>

@{
    ViewData["Title"] = "Index";
}

<h2>Słownik: uprawnienia użytkowników</h2>

<table class="table table-dark table-striped table-hover table-bordered table-sm align-middle">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NazwaUprawnienia)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><span class="m-2">@Html.DisplayFor(modelItem => item.NazwaUprawnienia)</span></td>

                <td>
                    <a asp-action="Details" asp-route-id="@item.Id"><span class="m-2"><i class="fa-regular fa-eye fa-flip-horizontal fa-xl" style="color: #539dfd;"></i></span></a>
                    <a asp-action="Edit" asp-route-id="@item.Id"><span class="m-2"><i class="fa-solid fa-wrench fa-xl" style="color: #539dfd;"></i></span></a>

                    <a asp-action="Delete" asp-route-id="@item.Id"><span class="m-2"><i class="fa-solid fa-trash fa-flip-horizontal fa-xl" style="color: #539dfd;"></i></span></a>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-action="Create" class="link-underline-opacity-0"><span class="btn btn-primary m-2"><i class="fa-solid fa-circle-plus fa-2xl m-2 p-2" style="color:whitesmoke; "></i>Dodaj nowe</span></a>

</p>