@model BazaDanych.Data.CMS.Uzytkownicy.Uzytkownik

@{
    ViewData["Title"] = "Edit";
}


<h2>Edytuj</h2>

<h4>Uzytkownik</h4>
<hr />
<div class="container">
    <div class="row p-2">
        <h4>Dane do logowania</h4>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-md-12  col-lg-6 col-xxl-6 p-2">
                <div class="input-group">
                    <label class="input-group-text">
                        <i class="material-icons-round align-middle pe-2">person</i>
                        @Html.DisplayNameFor(model => model.Imie):
                    </label>
                    <input asp-for="Imie" class="form-control validate" />
                    <span asp-validation-for="Imie" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-12  col-lg-6 col-xxl-6 p-2">
                <div class="input-group">
                    <label class="input-group-text">
                        <i class="material-icons-round align-middle pe-2">person</i>
                        @Html.DisplayNameFor(model => model.Nazwisko):
                    </label>
                    <input asp-for="Nazwisko" class="form-control validate" />
                    <span asp-validation-for="Nazwisko" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-12  col-lg-6 col-xxl-6 p-2">
                <div class="input-group">
                    <label class="input-group-text">
                        <i class="material-icons-round align-middle pe-2">alternate_email</i>
                        @Html.DisplayNameFor(model => model.Email):
                    </label>
                    <input asp-for="Email" class="form-control validate" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-12  col-lg-6 col-xxl-6 p-2">
                <div class="input-group">
                    <label class="input-group-text">
                        <i class="material-icons-round align-middle pe-2">key</i>
                        @Html.DisplayNameFor(model => model.Password):
                    </label>
                    <input asp-for="Password" class="form-control validate" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-12  col-lg-6 col-xxl-6 p-2">
                <div class="input-group">
                    <label class="input-group-text">
                        <i class="material-icons-round align-middle pe-2">call</i>
                        @Html.DisplayNameFor(model => model.TelefonKontaktowy):
                    </label>
                    <input asp-for="TelefonKontaktowy" class="form-control validate" />
                    <span asp-validation-for="TelefonKontaktowy" class="text-danger"></span>
                </div>
            </div>
            </<div>
                <hr />
                <div class="row p-2">
                    <h4>Adres zamieszkania</h4>
                    <div class="col-md-12  col-lg-6 col-xxl-6 p-2">
                        <div class="input-group">
                            <label class="input-group-text">
                                <i class="material-icons-round align-middle pe-2">home</i>
                                @Html.DisplayNameFor(model => model.ZamieszkanieAdres):
                            </label>
                            <input asp-for="ZamieszkanieAdres" class="form-control validate" />
                            <span asp-validation-for="ZamieszkanieAdres" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-12  col-lg-6 col-xxl-6 p-2">
                        <div class="input-group">
                            <label class="input-group-text">
                                <i class="material-icons-round align-middle pe-2">home</i>
                                @Html.DisplayNameFor(model => model.ZamieszkanieMiasto):
                            </label>
                            <input asp-for="ZamieszkanieMiasto" class="form-control validate" />
                            <span asp-validation-for="ZamieszkanieMiasto" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-12  col-lg-6 col-xxl-6 p-2">
                        <div class="input-group">
                            <label class="input-group-text">
                                <i class="material-icons-round align-middle pe-2">home</i>
                                @Html.DisplayNameFor(model => model.ZamieszkanieKodPoczotwy):
                            </label>
                            <input asp-for="ZamieszkanieKodPoczotwy" class="form-control validate" />
                            <span asp-validation-for="ZamieszkanieKodPoczotwy" class="text-danger"></span>
                        </div>
                    </div>
                    </<div>
                        <hr />
                        <div class="row p-2">
                            <h4>Adres korespondencyjny (jeżeli inny niż zamieszkania)</h4>
                            <div class="col-md-12  col-lg-6 col-xxl-6 p-2">
                                <div class="input-group">
                                    <label class="input-group-text">
                                        <i class="material-icons-round align-middle pe-2">mail</i>
                                        @Html.DisplayNameFor(model => model.KorespondencyjnyAdres):
                                    </label>
                                    <input asp-for="KorespondencyjnyAdres" class="form-control validate" />
                                    <span asp-validation-for="KorespondencyjnyAdres" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-12  col-lg-6 col-xxl-6 p-2">
                                <div class="input-group">
                                    <label class="input-group-text">
                                        <i class="material-icons-round align-middle pe-2">mail</i>
                                        @Html.DisplayNameFor(model => model.KorespondencyjnyMiasto):
                                    </label>
                                    <input asp-for="KorespondencyjnyMiasto" class="form-control validate" />
                                    <span asp-validation-for="KorespondencyjnyMiasto" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-12  col-lg-6 col-xxl-6 p-2">
                                <div class="input-group">
                                    <label class="input-group-text">
                                        <i class="material-icons-round align-middle pe-2">mail</i>
                                        @Html.DisplayNameFor(model => model.KoresponedncyjnyKodPocztowy):
                                    </label>
                                    <input asp-for="KoresponedncyjnyKodPocztowy" class="form-control validate" />
                                    <span asp-validation-for="KoresponedncyjnyKodPocztowy" class="text-danger"></span>
                                </div>
                            </div>
                            </<div>
                                <hr />
                                <div class="row p-2">
                                    <h4>Dane firmy (opcjonalnie)</h4>
                                    <div class="col-md-12  col-lg-6 col-xxl-6 p-2">
                                        <div class="input-group">
                                            <label class="input-group-text">
                                                <i class="material-icons-round align-middle pe-2">directions_car</i>
                                                @Html.DisplayNameFor(model => model.FirmaNazwa):
                                            </label>
                                            <input asp-for="FirmaNazwa" class="form-control validate" />
                                            <span asp-validation-for="FirmaNazwa" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12  col-lg-6 col-xxl-6 p-2">
                                        <div class="input-group">
                                            <label class="input-group-text">
                                                <i class="material-icons-round align-middle pe-2">directions_car</i>
                                                @Html.DisplayNameFor(model => model.FirmaNip):
                                            </label>
                                            <input asp-for="FirmaNip" class="form-control validate" />
                                            <span asp-validation-for="FirmaNip" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-6 col-xxl-6 p-2">
                                        <div class="input-group">
                                            <label class="input-group-text">
                                                <i class="material-icons-round align-middle pe-2">directions_car</i>
                                                @Html.DisplayNameFor(model => model.FirmaAdres):
                                            </label>
                                            <input asp-for="FirmaAdres" class="form-control validate" />
                                            <span asp-validation-for="FirmaAdres" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12  col-lg-6 col-xxl-6 p-2">
                                        <div class="input-group">
                                            <label class="input-group-text">
                                                <i class="material-icons-round align-middle pe-2">directions_car</i>
                                                @Html.DisplayNameFor(model => model.FirmaMiasto):
                                            </label>
                                            <input asp-for="FirmaMiasto" class="form-control validate" />
                                            <span asp-validation-for="FirmaMiasto" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12  col-lg-6 col-xxl-6 p-2">
                                        <div class="input-group">
                                            <label class="input-group-text">
                                                <i class="material-icons-round align-middle pe-2">directions_car</i>
                                                @Html.DisplayNameFor(model => model.FirmaKodPocztowy):
                                            </label>
                                            <input asp-for="FirmaKodPocztowy" class="form-control validate" />
                                            <span asp-validation-for="FirmaKodPocztowy" class="text-danger"></span>
                                        </div>
                                    </div>
                                    </<div>
                                        <hr />
                                        <div class="row p-2">
                                            <h4>Uprawnienia</h4>
                                            <div class="col-md-12  col-lg-6 col-xxl-6 p-2">
                                                <div class="input-group">
                                                    <label class="input-group-text">
                                                        <i class="material-icons-round align-middle pe-2">admin_panel_settings</i>
                                                        @Html.DisplayNameFor(model => model.IdSlTypUzytkownika):
                                                    </label>
                                                    <select asp-for="IdSlTypUzytkownika" class="form-control" asp-items="ViewBag.IdSlTypUzytkownika"></select>
                                                </div>
                                            </div>

                                            
                                           

                                            <div class="col-sm-12">
                                                <div class="form-group p-2">
                                                    <input type="hidden" asp-for="Id" />
                                                    <a asp-action="Index" class="btn btn-primary">Powrót</a>
                                                    <input type="submit" value="Zapisz" class="btn btn-primary" />
                                                </div>
                                            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
